body {
    background-color: white;
    margin: 0;
}
body.hidden{
    animation: backgrounda 2s;
    background-color: #17182f;
    margin: 0;
}
.container{
    height: 40vh;
    margin: 0;
    display: flex;
}
.a-icon{
    height: 120px;
    width: 120px;
    margin: auto auto 0px auto;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( -3px -3px -2px rgba(255, 255, 255, .7));
  /* Similar syntax to box-shadow */
}
.icon{
    height: 120px;
    width: 120px;
}
.title{
    position: relative;
    text-align: center;
    font-family: Ubuntu, sans-serif !important;
    font-size: 3rem;
    font-weight: 400;
}
.arrow{
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    align-content: center;
    text-align: center;
}
.hidden.arrow{
    animation: fadeout 2s, backgrounda 2s;
    background-color: #17182f;
    opacity: 0%;
}

.arrow-icon{
    width: 60px;
    height: 60px;
    margin: auto auto auto auto;
    cursor: pointer;
    animation-duration: 3s;
    animation-name: updown;
    animation-iteration-count: infinite;
}
.left-bar{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 6px;
    margin-top: 10px;
    border-radius: 10px;
    transform: translate(6.5px) rotate(45deg);
}
.right-bar{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 6px;
    margin-top: 10px;
    border-radius: 10px;
    transform: translate(23.5px) rotate(-45deg);
}
.left-bar2{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 6px;
    margin-top: 30px;
    border-radius: 10px;
    transform: translate(6.5px) rotate(45deg);
}
.right-bar2{
    position: absolute;
    background-color: black;
    width: 30px;
    height: 6px;
    margin-top: 30px;
    border-radius: 10px;
    transform: translate(23.5px) rotate(-45deg);
}
.hidden.arrow-icon{
    animation: updown 2s, fadeout 2s;
    opacity: 0%;
}
.hidden.title{
    animation: fadeout 1s;
    opacity: 0%;
}
.larger.a-icon {
    animation: scaleup 2s;
    transform: scale(3.0);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( -3px -3px -2px rgba(255, 255, 255, .7));
  /* Similar syntax to box-shadow */
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes fadeout {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes scaleup {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(3.0);
    }
}
@keyframes backgrounda {
    from {
        background-color: white;
    }
    to {
        background-color: #17182f;
    }
}
#particles-js {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}
#particles-js.larger {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    animation: backgrounda 2s;
    background-color: #17182f;
}
#particles-js.to-show {
    margin: 0;
    opacity: 0%;
}

